* {
  padding: 0;
  margin: 0;
}

/*  */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 40px);
  grid-template-areas:
    "area1 area2 area3"
    "area4 area5 area6"
  ;
  gap: 30px 10px;
}

.grid-item-a {
  background-color: red;
  grid-area: area6;
}

.grid-item-b {
  background-color: rgb(241, 79, 79);
  grid-area: area4;
}

.grid-item-c {
  background-color: rgb(255, 107, 107);
  grid-area: area3;
}

.grid-item-d {
  background-color: rgb(253, 164, 164);
  grid-area: area2;
}

.grid-item-e {
  background-color: rgb(251, 216, 216);
  grid-area: area1;
}
