.relative {
  width: 100px;
  height: 100px;
  background-color: rgb(240, 142, 22);
  position: relative;
  top: 20px;
  left: 80px;
}

.absolute {
  width: 100px;
  height: 100px;
  background-color: rgb(8, 160, 31);
  position: absolute;
  top: 20px;
  left: 20px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container .caption {
  position: absolute;
  background-color: rgb(232, 192, 46);
  padding: 5px;
  bottom: 0;
  right: 0;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
